<html>
<head>
<title>
Meme Website </title>
<meta name="viewport" content="width=device-width, intial_scale=1">

</head>
<body>
<h1>A website!</h1>
<p>{{user_id}}  --- {{message}}</p>

<form action="/get-user/1" method="GET">
    <label for="fname">First name:</label><br>
    <input type="number" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>